{%- form 'product', product, id: form_id, class: product_form_classes -%}
  {%- if product.available -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" data-price="{{- product.price -}}">
    <input class="quantity form__field form__field--text is-filled" type="number" name="quantity" value="0" min="0" max="999"/>
  {%- endif -%}


  {%- if section.settings.show_quick_view == 'list_grid' -%}
    {%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
  {%- else -%}
    {%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
  {%- endif -%}

  <button type="button" class="{{ quick_view_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.quick_view' | t }}</button>
{%- endform -%}