<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.background }};
    color: {{ section.settings.text }};
  }
</style>

<section class="section sme_campaign_newsletter {% if section.settings.background != settings.background %}section--isolated section--tight{% endif %} section--text-centered" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <div class="container container--giga-narrow">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h3">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
      <div class="rte">
        {{ section.settings.content }}
      </div>
    {%- endif -%}

    {%- assign newsletter_id = 'newsletter-' | append: section.id -%}

    <div class="newsletter newsletter--compact form newsletter__form ">
    <form id="cmdistro-de-website-newsletter-signup">
			<input type="hidden" name="js_url" id="js_url" value="https://subs.sonymusicfans.com/submit">
			<input type="hidden" name="ae_segment_id" id="ae_segment_id" value="{{section.settings.ae_segment_id}}">
			<input type="hidden" name="ae_brand_id" id="ae_brand_id" value="{{section.settings.ae_brand_id}}">
			<input type="hidden" name="ae_activities" id="ae_activities" value='{{section.settings.ae_activities}}'>
			<input type="hidden" name="ae" id="ae" value="{{section.settings.ae}}">
			<input type="hidden" name="form" value="{{section.settings.ae_form}}">
			<!-- Form Fields -->
			
      {{ section.settings.ae_form_html }}

		  <!-- Submit Button -->
			<button type="submit" id="sme_button" class="form__submit form__submit--tight button button--primary">{{section.settings.btn_txt}}</button>
		</form>


    </div>
  </div>

  {% render 'sme-newsletter-js' %}

</section>

{% schema %}
{
  "name": "SME Campaigns Newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    },
    {
      "type": "text",
      "id": "ae_segment_id",
      "label": "AE Segment ID"
    },
    {
      "type": "text",
      "id": "ae_brand_id",
      "label": "AE Brand ID"
    },
    {
      "type": "liquid",
      "id": "ae_activities",
      "label": "AE Activities"
    },
    {
      "type": "text",
      "id": "ae",
      "label": "AE"
    },
    {
      "type": "text",
      "id": "ae_form",
      "label": "Form (ID)"
    },
    {
      "type": "liquid",
      "id": "ae_form_html",
      "label": "Form Fields"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button text",
      "default": "Subscribe"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "SME Campaigns Newsletter",
      "settings": {
      }
    }
  ]
}
{% endschema %}