{%- case section.settings.text_width -%}
  {%- when 'narrow' -%}
    {%- assign container_classes = 'container container--narrow' -%}

  {%- when 'regular' -%}
    {%- assign container_classes = 'container container--medium' -%}

  {%- when 'wide' -%}
    {%- assign container_classes = 'container' -%}
{%- endcase -%}

{%- style -%}
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.marign_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.marign_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.marign_top }}px;
      margin-bottom: {{ section.settings.marign_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-margin rich-text--{{ section.id }} {%- if section.settings.center_text -%}section--text-centered{%- endif -%}" data-section-id="{{ section.id }}" data-section-type="rich-text">
  <div class="{{ container_classes }}">
    {%- if section.settings.title != blank -%}
      {% if section.settings.h_one %}
        <h1 class="heading h1">{{ section.settings.title | escape }}</h1>
      {%- else -%}
        <h2 class="heading h1">{{ section.settings.title | escape }}</h2>
      {%- endif -%}
    {%- endif -%}

    <div class="rte">
      {{ section.settings.content }}

      {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
        <a href="{{ section.settings.button_link }}" class="button button--primary">{{ section.settings.button_text | escape }}</a>
      {%- endif -%}
    </div>
  </div>
</section>
{%- style -%}
  .rich-text--{{ section.id }} {
    background: {{ section.settings.bg_color }};
  }

  .rich-text--{{ section.id }},
  .rich-text--{{ section.id }} .h1 {
    color: {{ section.settings.text_color }};
  }

  .rich-text--{{ section.id }} .button--primary {
    background: {{ section.settings.bt_bg_color }};
    color: {{ section.settings.bt_text_color }}; 
  }

  .rich-text--{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .rich-text--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Rich text",
  "settings": [
    
  {
      "type": "range",
      "id": "marign_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "marign_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin bottom",
      "default": 50
    },
    {
      "type": "select",
      "id": "text_width",
      "label": "Text width",
      "options": [
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "regular",
          "label": "Regular"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "default": "narrow"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    },
    {
      "type": "checkbox",
      "id": "h_one",
      "default": false,
      "label": "Make title H1"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers.<br>Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Our products"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/collections/all"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bt_bg_color",
      "label": "Button Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bt_text_color",
      "label": "Button Text Color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "center_text",
      "default": true,
      "label": "Center the text"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Rich text",
      "settings": {
      }
    }
  ]
}
{% endschema %}